
<html>
	<head>
		<title>D3ad</title>
	</head>

	<body>
		
		<div>
			<h1><a href="/">0xDarkMagician's Website</a></h1>
		</div>

	
		<div>	
			<h2><a href="">LOW LEVEL SOFTWARE BUGS</a></h2>
			<p>This is a series of blogs pertaining to common exploitable software bugs</p>
		</div>

		<div>
			<p>Published on: 17/01/2019</p>
			<h2><a href="">REVERSE ENGINEERING</a></h2>
			<p>This is a series of blogs pertaining to reverse engineering</p>
		</div>

		<div>
			<p>Published on: 17/01/2019</p>
			<h2><a href="">WEB APPLICATION PENTESING</a></h2>
			<p>This is a series of blogs pertaining to web application vulnerabilites</p>
		</div>

		<div>
			<h2><a href="">ABOUT ME</a></h2>
			<p>Here you can find my resume</p>
		</div>	


	</body>
</html>
